body {
    margin: 0px;
    padding: 0px;
}


:root {
    --fuente1:'Poppins', italic; 
    --fuente2: 'Poppins', cursive;
    --verde: rgb(238, 242, 219);
    --negro:  rgb(2, 1, 1);
    --blanco: white;
}

.header {
    width: 100%;
    height: 100px;
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
}

.header__title{
    font-size: 55px;
    margin: 15px;
    color: var(--negro);
    font-family: var(--fuente2);
}

.header__menu{
    list-style: none;
    display: flex;
}

.header__menu--container {
    margin-right: 520px;
    margin-top: 10px;
}

.header__menu li {
    margin: 15px;
}

.header__menu a {
    color: var(--negro);
    text-decoration: none;
    font-size: 18px;
    font-family: var(--fuente1);
}

.header__menu a:hover {
    color: var(--blanco);
    transition: 400ms;
}
.main {
    background-color: var(--verde);
    width: 100%;
    height: 840px;
    display: flex;
    justify-content: center;
}

.main__title {
    color: var(--negro);
    font-size: 55px;
    font-family: var(--fuente2);
    margin-top: 170px;
    padding-left: 65px;
}

.main__container hr {
    width: 300px;
}

.main__container p {
    color:var(--negro);
    font-family: var(--fuente2);
    font-size: 38px;
    
}

.main__button {
    background-color: var(--negro);
    width: 300px;
    margin-left: 220px;
    margin-top: 70px;
    border: 0px;
    border-radius: 50px;
    height: 55px;
    cursor: pointer;
    outline: none;
}

.main__button a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 25 px;
    font-family: var(--fuente2);
}

.main__button:hover{
    background-color: var(--blanco);
    width: 350px;
    margin-left: 189px;
    transition: 500ms;
}
.main__button a:hover{
    color: var(--negro);
}
.intro {
    background-color: var(--verde);
}

.blog {
    margin: 90px 30%;
    background-color: var(--verde);
    font-family: var(--fuente1);
}

.contenido {
    color: var(--negro);
    text-align: center;
}
.contenido3 {
    text-align: right;
    font-size: 20px;
    margin: 15px;
    color: var(--negro);
    font-family: var(--fuente2);
}
.contenido2 {
    color: var(--negro);
    text-align: left;
    margin-top: 170px;
    padding-left: 65px;

}
body {
    background-color: rgb(238, 242, 219);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.tarjeta{
    width: 220px;
    height: 360px;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 50px;
    border: 5px solid antiquewhite;
    margin-right: 20px;
    cursor: pointer;
}

.tarjeta img {
    margin-bottom: -30px;
    padding-left: 30px;
    width: 110px;
}

.tarjeta p {
    text-align: center;
    margin-bottom: 17px;
}

.title {
    font-size: 55px;
    margin: 15px;
    color: var(--negro);
    font-family: var(--fuente2);
}

.tarjeta:hover {
    background-color: rgb(62, 119, 107);
    color: white;
    transition: 800ms;
}

.tarjeta a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: rgb(116, 73, 34);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

body:hover {
    background-color: rgb(238, 242, 219);
    transition: 2000ms;
}
.texto {
    display: flex;
    text-align: center;
    font-size: 17px;
    color: var(--negro);
    font-family: var(--fuente2);
    justify-content: center;
    
}
.texto2 {
text-align: center;
    font-size: 17px;
    color: var(--negro);
    font-family: var(--fuente2);
}
.img {
    margin-top: -25px;
}
.tarjeta1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.texto4 {
    display: flexbox;
    padding-left: 325px
    
    
}
	.picture { 
		font-family: var(--fuente2);
        padding: 50px;
        
	}
	.picture img { 
		padding-left: 430px
	}
	.right { 
		margin: 0.5em 0pt 0.5em 0.8em; 
		float:right; 
	}
	.left { 
		margin: 0.5em 0.8em 0.5em 0; 
		float:left;
	}
    .texto5 { 
		padding-left: 550px;
        text-align: justify;
        

    }


    
